DB_NAME=<YOUR_D>B_NAME
JWT_SECRET=<YOUR_JWT_SECRET_KEY>
PORT=5000
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=